.SearchResults{
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SearchResults-close-button{
    text-align: right;
}

    .SearchResults-close-button button {
        border: 1px solid var(--primary-color);
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
        color: #fff;
        background: linear-gradient(to right, var(--primary-color) 50%, transparent 50%);
        background-size: 200%;
        background-position: right;
        transition: .5s ease-out;
    }

        .SearchResults-close-button button:hover {
            background-position: left;
        }